<style>
.pageFormContent dl.nowrap dd {width:400px;}
</style>
<div class="pageContent">
	<form method="post" action="position/save" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input type="hidden" name="target_tab" value="{{target_tab}}"/>
		<div class="pageFormContent" layoutH="56">			
        <fieldset style="border:0px;">
            <dl class="nowrap">
				<dt>ID：</dt>
				<dd>{{pos_info.id}}</dd>
				<input type="hidden" name="id" value="{{pos_info.id}}"/>
			</dl>
            <dl class="nowrap">
				<dt>职位名称：</dt>
                <dd><input name="name" class="required" type="text" value="{{pos_info.name}}" readonly/></dd>
            </dl>

            <dl class="nowrap">
				<dt>组织：</dt>
                <dd>
				<select name="org_u0.id" class="required" style="width:200px;margin-right:10px;" disabled>
                    {% for i in all_orgs %}
					<option value="{{i.id}}" {% if i.id == pos_info.organization_id %}selected="selected"{% end %}>{{i.full_name}}</option>
                    {% end %}
				</select>

			</dl>

            <dl class="nowrap">
				<dt>职位说明：</dt>
                <dd><input type="text" name="note" value="{{pos_info.note}}" readonly /></dd>
			</dl>

            <dl class="nowrap">
				<dt>状态：</dt>
                <dd>
				<select name="status" class="required" style="width:100px;margin-right:10px;" disabled>
                    {% for key in all_status %}
					<option value="{{key}}" {% if key == pos_info.status %}selected="selected"{% end %}>{{all_status[key]}}</option>
                    {% end %}
				</select></dd>
           	</dl>
        </fieldset>
        <fieldset style='border:0px;'>
            <dl class="nowrap"><dt>角色列表：</dt> <dd> </dd></dl>
            <dl class="nowrap">
                {% for i in all_roles %}
                <dd style="width:160px;"><input name="role__{{i.id}}" value="{{i.id}}" type="checkbox" disabled {% if i.id in cur_roles %}checked{% end %}>{{i.name}}</dd>
                {% end %}
            </dl>
        </fieldset>
		</div>
		<div class="formBar">
			<ul>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
