<div class="pageHeader">
    <form id="pagerForm" onsubmit="return navTabSearch(this);" action="position/list" method="post">
        <input type="hidden" name="pageNum" value="{{param['page']}}" />
        <input type="hidden" name="numPerPage" value="{{param['psize']}}" />
        <input type="hidden" name="target_tab" value="{{target_tab}}" />
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>组织：
                    <select name="organization_id" style="width:320px;">
                        <option value="0">不限</option>
                        {% for i in all_orgs %}
                        <option value="{{i.id}}" {% if param['organization_id'] == i.id %}selected{%end%}>{{i.full_name}}</option>
                        {% end %}
                    </select>
                    <input name="orgparent.name" type="text" postField="org_name"
                                suggestFields="name" suggestUrl="org/search" lookupGroup="orgparent"/>
				</td>
                    <td>职位名：<input type="text" name="name" value="{{param['name']}}"/></td>
                    <td>
                        <div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
        {% if has_perm('add','user:position') %}
            <li><a class="add" href="position/add?target_tab={{target_tab}}" target="navTab"><span>添加</span></a></li>
        {% end %}
        {% if has_perm('update','user:position') %}
            <li><a class="edit" href="position/edit?id={sid_position}&target_tab={{target_tab}}" target="navTab"><span>修改</span></a></li>
        {% end %}
        {% if has_perm('detail','user:position') %}
            <li><a class="icon" href="position/detail?id={sid_position}&target_tab={{target_tab}}" target="navTab"><span>查看</span></a></li>
        {% end %}
        {% if has_perm('delete','user:position') %}
            <li><a class="delete" href="position/delete?id={sid_position}&target_tab={{target_tab}}"
                   target="ajaxTodo" title="确定要删除此岗位? 如果该岗位有关联的用户，则不会被删除。"><span>删除</span></a></li>
        {% end %}
        </ul>
    </div>
    <table class="table" width="100%" layoutH="110">
        <thead>
            <tr>
                <th align="center">ID</th>
                <th align="center">职位名称</th>
                <th align="center">职位说明</th>
                <th align="center">组织</th>
                <th align="center">状态</th>
                <th align="center">更新日期</th>
                <th align="center">操作</th>
            </tr>
        </thead>
        <tbody>
               {% for i in position_list %}
                <tr target="sid_position" rel="{{i['id']}}">
                    <td>{{i['id']}}</td>
                    <td>{{i['name']}}</td>
                    <td>{{i['note']}}</td>
                    <td>{% for org in all_orgs %}
                            {% if org['id'] == i['organization_id']%}
                                {{org['name']}}
                         {% break %}{% end %}{% end %}</td>
                    <td>{% if i['status'] == 1 %}正常{% elif i['status'] == 2 %}禁用{% elif i['status'] == 3 %}删除{% end %}</td>
                    <td>{{i['create_time']}}</td>
                    <td>
                        <a class="button" href="position/detail?id={{i['id']}}&target_tab={{target_tab}}" target="navTab"><span>查看</span></a>
                        <a class="button" href="position/edit?id={{i['id']}}&target_tab={{target_tab}}" target="navTab"><span>修改</span></a>
                    </td>
                </tr>
                {% end %}
        </tbody>
    </table>
    {% module Pagination(count, param['page'], param['psize']) %}
</div>

