
<form id="pagerForm" method="post" action="role/list">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{{psize}}" />
	<input type="hidden" name="orderField" value="id" />
	<input type="hidden" name="name" value="{{name}}" />
    <input type="hidden" name="target_tab" value="{{target_tab}}"/>
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="role/list" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					角色名：<input type="text" name="name" value="{{name}}"/>
				</td>
				<td>
				    <div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
            {% if has_perm('add','user:role') %}
			<li><a class="add" href="role/add?target_tab={{target_tab}}" target="navTab"><span>添加</span></a></li>
			{% end %}
            {% if has_perm('delete','user:role') %}
            <li><a class="delete" href="role/delete?id={sid_role}&target_tab={{target_tab}}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			{% end %}
            {% if has_perm('update','user:role') %}
            <li><a class="edit" href="role/edit?id={sid_role}&target_tab={{target_tab}}" target="navTab"><span>修改</span></a></li>
			{% end %}
            <li class="line">line</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="110">
		<thead>
			<tr>
				<th width="80" align="center">ID</th>
				<th width="130" align="center">角色名称</th>				
				<th width="220" align="center">更新日期</th>
			</tr>
		</thead>
		<tbody>		
			   {% for r in roles %}
				<tr target="sid_role" rel="{{r.id}}">
					<td>{{r.id}}</td>
					<td>{{r.name}}</td>
					<td>{{r.update_time}}</td>
				</tr>
				{% end %}
		</tbody>
	</table>
    {% module Pagination(count,page,psize) %}
</div>

