<div class="accordion" fillSpace="sideBar">
	<div class="accordionContent">
		<ul class="tree treeFolder">
            {% if touch_resource(['user:org']) %}
			<li><a href="org/list" target="navTab" rel="ulist">组织管理</a></li>
            {% end %}
            {% if touch_resource(['user:user']) %}
			<li><a href="org/list" target="navTab" rel="ulist">用户管理</a></li>
            {% end %}
            {% if touch_resource(['user:role']) %}
			<li><a href="role/list" target="navTab" rel="ulist">角色管理</a></li>
            {% end %}
            {% if touch_resource(['user:perm']) %}
			<li><a href="perm/list" target="navTab" rel="ulist">权限管理</a></li>
            {% end %}
            {% if touch_resource(['user:resource']) %}
			<li><a href="resource/list" target="navTab" rel="ulist">资源管理</a></li>
            {% end %}
		</ul>
	</div>
</div>
