
<style>
.pageFormContent dl.nowrap dd {width:400px;}
</style>
<div class="pageContent">
	<form method="post" action="user/save" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input type="hidden" name="target_tab" value="{{target_tab}}"/>
		<div class="pageFormContent" layoutH="56">
        <fieldset style="border:0px;">
            <dl class="nowrap">
				<dt>ID：</dt>
				<dd>{{user.id}}</dd>
				<input type="hidden" name="id" value="{{user.id}}"/>
			</dl>			
            <dl class="nowrap">
				<dt>登录名：</dt>
				<dd><input name="name" class="required" type="text"
                           minlength="2" maxlength="40" value="{{user.name}}"/></dd>
				<dt>真实姓名：</dt>
				<dd><input name="real_name" class="required"
                           type="text" minlength="2" maxlength="20" value="{{user.real_name}}"/></dd>
			</dl>			
            <dl class="nowrap">
				<dt>密码：</dt>
				<dd><input type="password"  value="" name="password" minlength="6" class="textInput"></dd>
				<dt>确认密码：</dt>
				<dd><input type="password"  value="" name="confirmPassword" minlength="6" class="textInput" /></dd>
			</dl>
            <dl class="nowrap">
				<dt>超级用户：</dt>
                <dd>
				<select name="is_root" class="required combox">
					<option value="0" {% if not user.is_root %}selected="selected"{%end%}>否</option>
                    {% if current_user['is_root'] %}
					<option value="1" {% if user.is_root %}selected="selected"{%end%} >是</option>
                    {% end %}
				</select>
                </dd>
				<dt>内部员工：</dt>
                <dd>
				<select name="is_staff" class="required combox">
					<option value="1" {% if user.is_staff %}selected="selected"{%end%} >是</option>
					<option value="0" {% if not user.is_staff %}selected="selected"{%end%}>否</option>
				</select>
                </dd>
			</dl>
            <dl class="nowrap">
				<dt>组织：</dt>
                <dd>
				<select name="org_u0.id" class="required combox" ref="id_pos_adding" refUrl="position/ref?flag=2&org_id={value}" style="width:200px;margin-right:10px;">
                    <option value="">不限</option>
                    {% for i in all_orgs %}
					<option value="{{i.id}}" {% if i.id == user.org_id %}selected="selected"{%end%}>{{i.full_name}}</option>
                    {% end %}
				</select>

                    <!-- 确保onchange发生， 用于触发二级联动， 显示对应的岗位 -->
                <!-- <input name="org_u0.name" type="text" postField="org_name"
                            suggestFields="name" suggestUrl="org/search" lookupGroup="org_u0"/> -->
                </dd>
				<dt>员工号：</dt>
				<dd><input type="text" name="staff_no" size="30" value="{{user.staff_no}}"/></dd>
			</dl>
            <dl class="nowrap">
				<dt>手机：</dt>
                <dd><input type="text" name="phone" class="required" value="{{user.phone}}"/></dd>
                <dt>电子邮箱：</dt>
				<dd><input type="text" name="email" class="email" value="{{user.email}}"/></dd>
			</dl>

            <dl class="nowrap">
				<dt>岗位：</dt>
                <dd>

                <select name="position_id" class="combox required" id="id_pos_adding">
                    <option value="">无</option>
                    {% for i in cur_org_positions %}
					<option value="{{i['id']}}" {% if i['id'] == user.position_id %}selected="selected"{%end%}>{{i['name']}}</option>
                    {% end %}
                </select>
                </dd>
                <dt>状态：</dt>
                <dd><select name="status" class="combox">
                    <option value="1" {% if user.status == 1 %}selected{%end%}>启用</option>
                    <option value="0" {% if user.status == 0 %}selected{%end%}>禁用</option>
                    </select></dd>
 			</dl>

        </fieldset>
        <fieldset style='border:0px;'>
            <dl class="nowrap"><dt>角色列表：</dt> <dd> </dd></dl>
            <dl class="nowrap">
            {% for i in all_roles %}
            <dd style="width:160px;">
            <input name="role__{{i.id}}" value="{{i.id}}" type="checkbox" {% if i.id in cur_roles %}checked{%end%}>{{i.name}}
            </dd>
            {% end %}
            </dl>
        </fieldset>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>

