
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" action="user/list" method="post">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{{psize}}" />
	<input type="hidden" name="orderField" value="id" />
    <input type="hidden" name="target_tab" value="{{target_tab}}"/>
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					登陆名：<input type="text" name="name" value="{{name}}"/>
				</td>
				<td>
					真实姓名：<input type="text" name="real_name" value="{{real_name}}"/>
				</td>
				<td>
					手机号：<input type="text" name="phone" value="{{phone}}"/>
				</td>
				<td>
					组织：
                    <select name="orgu.id" style="width:160px;margin-right:10px;">
                        <option value="0">不限</option>
                        {% for i in all_org_list %}
                        <option value="{{i.id}}" {% if org_id == i.id %}selected{%end%}>{{i.full_name}}</option>
                        {% end %}
                    </select>
                    <input name="orgu.name" type="text" postField="org_name"
                           suggestFields="name" suggestUrl="org/search" lookupGroup="orgu"/>
				</td>
				<td>
				    <div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			{% if has_perm('add','user:user') %}
            <li><a class="add" href="user/add?target_tab={{target_tab}}" target="navTab"><span>添加</span></a></li>
            {% end %}
            <!-- luochenghu, 目前暂不允许删除用户。 通过禁用、启用来处理
            {% if has_perm('delete','user:user') %}
            <li><a class="delete" href="user/delete?id={sid_user}&target_tab={{target_tab}}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
            {% end %}
            -->
            {% if has_perm('update','user:user') %}
            <li><a class="edit" href="user/edit?id={sid_user}&target_tab={{target_tab}}" target="navTab"><span>修改</span></a></li>
			{% end %}
            <li class="line">line</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="110">
		<thead>
			<tr>
				<th align="center">ID</th>
				<th align="center">登录名</th>				
				<th align="center">真实姓名</th>				
				<th align="center">超级用户</th>
				<th align="center">内部员工</th>
				<th align="center">状态</th>
				<th align="center">员工号</th>
				<th align="center">部门</th>
                <th align="center">岗位</th>
				<th align="center">手机</th>
				<th align="center">邮件地址</th>
				<th align="center">更新日期</th>
			</tr>
		</thead>
		<tbody>		
			   {% for u in user_list %}
				<tr target="sid_user" rel="{{u['id']}}">
					<td>{{u['id']}}</td>
					<td>
                        <a class="edit" href="user/detail?id={{u['id']}}&target_tab={{target_tab}}" target="navTab">
                        {{u['name']}}</a></td>
					<td>{{u['real_name']}}</td>
					<td>{% if u['is_root'] %}是{%else%}否{%end%}</td>
					<td>{% if u['is_staff'] %}是{%else%}否{%end%}</td>
                    <td>{% if u['status'] == 1 %}启用{% elif u['status'] == 0 %}禁用{% else %}--{% end %}</td>
                    <td>{{u['staff_no']}}</td>
					<td>{% if u.organization %}{{u.organization.full_name}}{%end%}</td>
                    <td>{% if u.position %}{{u.position.name}}{%end%}</td>
					<td>{{u['phone']}}</td>
					<td>{{u['email']}}</td>
					<td>{{u['update_time']}}</td>
				</tr>
				{% end %}
		</tbody>
	</table>
    {% module Pagination(count,page,psize) %}
</div>

