
<style>
.pageFormContent dl.nowrap dd {width:400px;}
</style>
<div class="pageContent">
		<div class="pageFormContent" layoutH="56">
        <fieldset style="border:0px;">
            <dl class="nowrap">
				<dt>用户ID：</dt>
				<dd>{{user.id}}</dd>
			</dl>
            <dl class="nowrap">
				<dt>登录名：</dt>
				<dd>{{user.name}}</dd>
				<dt>真实姓名：</dt>
				<dd>{{user.real_name}}</dd>
			</dl>			

            <dl class="nowrap">
				<dt>超级用户：</dt>
                <dd> {% if user.is_root %}是{% else %}否{% end %} </dd>
				<dt>内部员工：</dt>
                <dd>{% if user.is_staff %}是{% else %}否{% end %}
                </dd>
			</dl>
            <dl class="nowrap">
				<dt>组织：</dt>
                <dd>{% for i in all_orgs %}
                        {% if i.id == user.org_id %}
                            {{i.full_name}}
                        {%end%}
                    {% end %}
				 </dd>
				<dt>员工号：</dt>
				<dd>{{user.staff_no}}</dd>
			</dl>
            <dl class="nowrap">
				<dt>手机：</dt>
                <dd>{{user.phone}}</dd>
                <dt>电子邮箱：</dt>
				<dd>{{user.email}}</dd>
			</dl>

            <dl class="nowrap">
				<dt>岗位：</dt>
                <dd>
                    {% for i in all_options %}
					    {% if i.id == user.position_id %}
                            {{i.name}}
                        {%end%}
                    {% end %}
 			</dl>

        </fieldset>
        <fieldset style='border:0px;'>
            <dl class="nowrap"><dt>角色列表：</dt> <dd> </dd></dl>
            <dl class="nowrap">
            {% for i in all_roles %}
            <dd style="width:160px;">
            <input name="role__{{i.id}}" value="{{i.id}}" type="checkbox" readonly disabled {% if i.id in cur_roles %}checked{%end%}>{{i.name}}
            </dd>
            {% end %}
            </dl>
        </fieldset>
		</div>
		<div class="formBar">
			<ul>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
</div>

