
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" action="menu/list" method="post">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{{psize}}" />
	<input type="hidden" name="orderField" value="id" />
	<input type="hidden" name="name" value="{{name}}" />
	<input type="hidden" name="system_id" value="{{system_id}}" />
	<input type="hidden" name="parent_id" value="{{parent_id}}" />
    <input type="hidden" name="target_tab" value="{{target_tab}}"/>
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					<span style="float:left;line-height:23px;text-align:center;">子系统：</span>
                    <select name="system_id" class="combox" ref="id_menu_id" refUrl="menu/ref?system_id={value}&flag=1">
                        <option value="">不限</option>
                        {% for i in all_systems %}
                        <option value="{{i.id}}" {% if system_id == i.id %}selected{%end%}>{{i.name}}</option>
                        {% end %}
                    </select>
				</td>
				<td>
					<span style="float:left;line-height:23px;text-align:center;">上级菜单：</span>
                    <select name="parent_id" class="combox" id="id_menu_id">
                        <option value="">不限</option>
                        {% for i in all_menus %}
                        <option value="{{i.id}}" {% if parent_id == i.id %}selected{%end%}>{{i.full_name}}</option>
                        {% end %}
                    </select>
				</td>
				<td>
					菜单名：<input type="text" name="name" value="{{name}}"/>
				</td>
				<td>
				    <div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
        <ul class="toolBar">
            {% if has_perm('add','sys_settings :menu_mgmt') %}
            <li><a class="add" href="menu/add?target_tab={{target_tab}}" target="navTab"><span>添加</span></a></li>
            {% end %}
            {% if has_perm('delete','sys_settings :menu_mgmt') %}
            <li><a class="delete" href="menu/delete?id={sid_menu}&target_tab={{target_tab}}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
            {% end %}
            {% if has_perm('update','sys_settings :menu_mgmt') %}
            <li><a class="edit" href="menu/edit?id={sid_menu}&target_tab={{target_tab}}" target="navTab"><span>修改</span></a></li>
            {% end %}
            <li class="line">line</li>
        </ul>
	</div>
	<table class="table" width="100%" layoutH="110">
		<thead>
			<tr>
				<th align="center">ID</th>
				<th align="center">名称</th>				
				<th align="center">子系统</th>
				<th align="center">上级菜单</th>
				<th align="center">级别</th>
				<th align="center">资源</th>
				<th align="center">URI</th>
				<th align="center">标签页ID</th>
				<th align="center">序号</th>
				<th align="center">更新日期</th>
			</tr>
		</thead>
		<tbody>		
			   {% for o in menus %}
				<tr target="sid_menu" rel="{{o.id}}">
					<td>{{ o.id }}</td>
					<td>{{ o.name }}</td>
					<td>{{ o.system.name }}</td>
					<td>{% if o.parent %}{{o.parent.full_name}}{%end%}</td>
					<td>{{ o.level }}</td>
					<td>{% if o.resource %}{{o.resource.full_name}}{%end%}</td>
					<td>{{ o.uri }}</td>
					<td>{{ o.target_tab}}</td>
					<td>{{ o.no }}</td>
					<td>{{ o.update_time }}</td>
				</tr>
				{% end %}
		</tbody>
	</table>
    {% module Pagination(count,page,psize) %}
</div>

