
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return dwzSearch(this,'dialog');" action="notice/who/user" method="post">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{{psize}}" />
	<input type="hidden" name="orderField" value="id" />
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					登录名：<input type="text" name="name" value="{{name}}"/>
				</td>
				<td>
					真实姓名：<input type="text" name="real_name" value="{{real_name}}"/>
				</td>
				<td>
					组织：
                    <select name="org_id" style="width:120px;">
                        <option value="0">不限</option>
                        {% for i in org_list %}
                        <option value="{{i.id}}" {% if org_id == i.id %}selected{%end%}>{{i.full_name}}</option>
                        {% end %}
                    </select>
				</td>
				<td>
				    <div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
				    <div class="button" style="margin-left:10px;"><div class="buttonContent">
                    <button type="button" multLookup="user">选择带回</button>
                    </div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<table class="table" width="100%" layoutH="110">
		<thead>
			<tr>
				<th width="30"><input type="checkbox" class="checkboxCtrl" group="user" /></th>
				<th align="center">ID</th>
				<th align="center">登录名</th>
				<th align="center">真实姓名</th>				
				<th align="center">组织</th>
			</tr>
		</thead>
		<tbody>		
            <tr>
                <td><input type="checkbox" name="user" value="{id:'',name:'',real_name:''}"/></td>
                <td>空</td>
                <td>空</td>
                <td>空</td>
                <td>空</td>
            </tr>
            {% for i in user_list %}
            <tr target="sid_user" rel="{{i.id}}">
                <td><input type="checkbox" name="user" value="{id:'{{i.id}}',real_name:'{{i.real_name}}'}"/></td>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.real_name}}</td>
                <td>{% if i.organization %}{{i.organization.full_name}}{%end%}</td>
            </tr>
            {% end %}
		</tbody>
	</table>
    {% module Pagination(count,page,psize) %}
</div>

