
<style>
.pageFormContent dl.nowrap dd {width:400px;}
</style>
<div class="pageContent">
	<form method="post" action="notice/save" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input type="hidden" name="target_tab" value="{{target_tab}}"/>
        <input type="hidden" name="id" value="{{notice.id}}"/>
		<div class="pageFormContent" layoutH="56">			
        <fieldset style='border:0px;'>
            <dl class="nowrap">
                <dt>标题：</dt>
                <dd><input name="name" class="required" type="text" value="{{notice.name}}"/></dd>
				<dt>类别：</dt>
                <dd>
				<select name="category_id" class="required combox">
                    {% for i in category_list %}
					<option value="{{i.id}}" {% if i.id == notice.category_id %}selected{%end%}>{{i.name}}</option>
                    {% end %}
				</select>
                </dd>
			</dl>
            <dl class="nowrap">
				<dt>是否置顶：</dt>
                <dd>
				<select name="is_top" class="required combox">
					<option value="0" {% if not notice.is_top %}selected{%end%}>否</option>
					<option value="1" {% if notice.is_top %}selected{%end%}>是</option>
				</select>
                </dd>
				<dt>是否广播：</dt>
                <dd>
				<select id="id_is_global_{{notice.id}}" name="is_global" class="required combox">
					<option value="0" {% if not notice.is_global %}selected{%end%}>否</option>
					<option value="1" {% if notice.is_global %}selected{%end%}>是</option>
				</select>
                </dd>
			</dl>
            <dl class="nowrap">
                <dt>内容：</dt>
                <dd>
                    <textarea class="required editor" name="content" cols="110" rows="15">{{notice.content}}</textarea>
                </dd>
            </dl>
            <dl class="nowrap" id="id_who_user_{{notice.id}}" {%if notice.is_global%}style="display:none;"{%end%}>
                <dt>通知人员：</dt>
                <dd style="width:800px;">
                    <input type="hidden" name="user_notice_{{notice.id}}.id" value="{{user_ids}}"/>
                    <input type="text" name="user_notice_{{notice.id}}.real_name" readonly="1" size="80" value="{{user_names}}"/>
                    <a class="btnLook" href="notice/who/user" lookupGroup="user_notice_{{notice.id}}">查找人员</a>
                    <span class="info">选择</span>
                </dd>
            </dl>
            <dl class="nowrap" id="id_who_org_{{notice.id}}" {%if notice.is_global%}style="display:none;"{%end%}>
                <dt>通知部门：</dt>
                <dd style="width:800px;">
                    <input type="hidden" name="org_notice_{{notice.id}}.id" value="{{org_ids}}"/>
                    <input type="text" name="org_notice_{{notice.id}}.name" readonly="1" size="80" value="{{org_names}}"/>
                    <a class="btnLook" href="notice/who/organization" lookupGroup="org_notice_{{notice.id}}">查找部门</a>
                    <span class="info">选择</span>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>创建用户：</dt><dd>{{notice.create_user}}</dd>
                <dt>创建时间：</dt><dd>{{notice.create_time}} </dd>
            </dl>
            <dl class="nowrap">
                <dt>更新用户：</dt><dd>{{notice.update_user}}</dd>
                <dt>更新时间：</dt><dd>{{notice.update_time}} </dd>
            </dl>
        </fieldset>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
<script>
	$("#id_is_global_{{notice.id}}").change(function(event){
        if ($(this).val() == "1"){
            $("#id_who_user_{{notice.id}}").hide();
            $("#id_who_org_{{notice.id}}").hide();
        }
        else {
            $("#id_who_user_{{notice.id}}").show();
            $("#id_who_org_{{notice.id}}").show();
        }
		event.preventDefault();
	})
</script>

