
<style>
.pageFormContent dl.nowrap dd {width:600px;}
</style>
<div class="pageContent">
	<form method="post" action="resource/save" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input type="hidden" name="target_tab" value="{{target_tab}}"/>
		<div class="pageFormContent" layoutH="56">
        <fieldset style="border:0px;">
            <dl class="nowrap">
				<dt>子系统：</dt>
                <dd>
            	<select name="system_id" class="required combox" ref="id_res_group_adding" refUrl="resgroup/ref?sub_sys_id={value}&flag=2" style="width:200px;margin-right:10px;">
                        {% for i in all_systems %}
					<option value="{{i.id}}" {% if resource.system_id == i.id %}selected{%end%}>{{i.name}}</option>
                    {% end %}
            	</select>
                </dd>
			</dl>
            <dl class="nowrap">
				<dt>分组：</dt>
                <dd>
                    <select name="group" class="combox required" id="id_res_group_adding">
                    <option value="">无</option>
                    {% for i in all_res_groups %}
					<option value="{{i.name}}" {% if resource.group == i.name %}selected{%end%}>{{i.full_name}}</option>
                    {% end %}
                </select>
               </dd>
			</dl>
            <dl class="nowrap">
				<dt>资源名称：</dt>
                <dd>
				<input type="hidden" name="id" value="{{resource.id}}"/>
                <input name="name" class="required" type="text" size=50 value="{{resource.name}}"/>
                <span style="margin-left:10px;">英文名称</span>
                </dd>
			</dl>
            <dl class="nowrap">
				<dt>资源描述：</dt>
                <dd> <input name="nick" class="required" type="text" size=50 value="{{resource.nick}}"/><span style="margin-left:10px;">中文描述</span> </dd>
			</dl>
            <!--
            <dl class="nowrap">
				<dt>属性：</dt>
                <dd><span style="margin-left:10px;">{{resource.attr}}</span></dd>
			</dl>
            -->
        </fieldset>
         <fieldset style='border:0px;'>
            <dl class="nowrap"><dt>操作列表：</dt> <dd> </dd></dl>
            <dl class="nowrap">
                {% for i in all_res_acts %}
                <dd style="width:250px;"><input name="ract_code__{{i.code}}" value="{{i.code}}" type="checkbox" {% if i.code in cur_ract_codes %}checked{% end %}>{{i.name}}({{i.code}})</dd>
                {% end %}
            </dl>
        </fieldset>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>

