
<style>
.pageFormContent dl.nowrap dd {width:400px;}
</style>
<div class="pageContent">
	<form method="post" action="perm/save" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input type="hidden" name="target_tab" value="{{target_tab}}"/>
		<div class="pageFormContent" layoutH="56">
        <fieldset style="border:0px;">
            <dl class="nowrap">
				<dt>权限名称：</dt>
                <dd>
				<input name="name" class="required" type="text" value="{{perm.name}}"/>
				<input type="hidden" name="id" value="{{perm.id}}"/>
                </dd>
			</dl>

            <dl class="nowrap">
				<dt>子系统：</dt>
                <dd>
				<select name="system_id" class="required combox" ref="id_resource_{{perm.id}}" refUrl="resource/ref?system_id={value}" style="width:200px;">
				    <option value="">不限</option>
                {% for i in sub_systems %}
					<option value="{{i.id}}"
                    {% if perm.resource%}
                    {% if perm.resource.system_id == i.id %}selected{%end%}{%end%}

                    >{{i.name}}</option>
                {% end %}
				</select>
                </dd>
			</dl>
            <dl class="nowrap">
				<dt>资源：</dt>
                <dd>
				<select name="resource_id" class="required combox" id="id_resource_{{perm.id}}">
                    <option value="">无</option>
                {% for i in resources %}
					<option value="{{i.id}}" {% if perm.resource_id == i.id %}selected{%end%}>{{i.full_name}}</option>
                {% end %}
				</select>
                </dd>
			</dl>
            </fieldset>

          <fieldset style='border:0px;'>
            <dl class="nowrap"><dt>操作列表：</dt> <dd> </dd></dl>
             <dl class="nowrap"><dt>超级操作：</dt>
                 <dd style="width:750px;"><input name="ract_code__all" value="all"
                                                 type="checkbox" {% if 'all' in cur_ract_codes %}checked{% end %}>
                     选中资源全部操作(All)【说明：如果此复选框被选中， 则表示拥有选中资源的全部操作权限, 不再需要勾选其它操作】</dd>
             </dl>
                <dl id="id_block_res_actions" class="nowrap">
                    {% module ResActionsData(res_ractions, cur_ract_codes) %}
                </dl>
            </fieldset>

		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
<script>
    $("#id_resource_{{perm.id}}").change(function(event){
        var perm_id = {{perm.id}};
        var resource_id = $(this).val();
		if (perm_id !== ''){
            $.ajax({
                type: 'POST',
                url: "/perm/get_res_ractions",
                data: "perm_id={{perm.id}}&resource_id=" + $(this).val(),
                dataType: "html",
                cache: false,
                success: function (html) {
                    $("#id_block_res_actions").html(html)
                }
            });
            event.preventDefault();
        }
	});
    /*
	$("#id_resource_{{perm.id}}").change(function(event){
        var perm_id = {{perm.id}};
		if (perm_id !== ''){
            $.ajax({
                type: 'POST',
                url: "/perm/conf",
                data: "perm_id={{perm.id}}&resource_id=" + $(this).val(),
                dataType: "html",
                cache: false,
                success: function (html) {
                    $("#id_perm_conf_{{perm.id}}").html(html)
                }
            });
            event.preventDefault();
        }
	});
	*/
</script>

