
<form id="pagerForm" method="post" action="perm/list">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{{psize}}" />
	<input type="hidden" name="orderField" value="id" />
	<input type="hidden" name="name" value="{{name}}" />
    <input type="hidden" name="target_tab" value="{{target_tab}}"/>
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="perm/list" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					权限名：<input type="text" name="name" value="{{name}}"/>
				</td>
				<td>
				    <div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
            {% if has_perm('add','user:perm') %}
			<li><a class="add" href="perm/add?target_tab={{target_tab}}" target="navTab" title="添加权限"><span>添加</span></a></li>
            {% end %}
            {% if has_perm('delete','user:perm') %}
            <li><a class="delete" href="perm/delete?id={sid_perm}&target_tab={{target_tab}}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
            {% end %}
            {% if has_perm('update','user:perm') %}
            <li><a class="edit" href="perm/edit?id={sid_perm}&target_tab={{target_tab}}" target="navTab" title="修改权限"><span>修改</span></a></li>
			{% end %}
            <li class="line">line</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="110">
		<thead>
			<tr>
				<th width="80" align="center">ID</th>
				<th width="130" align="center">权限名称</th>				
				<th width="130" align="center">操作</th>
				<th width="80" align="center">资源</th>
				<th width="220" align="center">更新日期</th>
			</tr>
		</thead>
		<tbody>	
			   {% for p in perms %}
				<tr target="sid_perm" rel="{{p.id}}">
					<td>{{p.id}}</td>
					<td>{{p.name}}</td>
					<td>{{','.join(p.raction_codes)}}</td>
					<td>{% if p.resource %}
                        {{p.resource.name}}
                        {% end %}
                    </td>
					<td>{{p.update_time}}</td>
				</tr>
				{% end %}
		</tbody>
	</table>
    {% module Pagination(count,page,psize) %}
</div>

